.header-container {
  position: relative;
  height: 800px;
  z-index: 5;
  overflow: hidden;
  background-image: url(../../../image/Chair.bg.png);
  background-size: cover;
  background-position: center;
}
.header-container::after {
  height: 700px;
  width: 30%;
  background-color: #3a4256;
  top: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: -50;
  overflow: hidden;
}
.btn-brand {
  font-weight: 600;
  border-color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  padding: 9px 7px;
  text-decoration: none;
}
.btn-brand:hover {
  border-bottom: 2px solid transparent;
  opacity: 0.8;
  color: white !important;
}
.btn-brand:focus {
  color: #fff !important;
}
