.logo{
    max-width:156px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    /* position: absolute; */
    width: 100%;
    
}
a.navbar-brand {
    font-weight: 600;
}
.nav-link{
    color: #000 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 20px 0 10px 19px;
    padding-bottom: 5px;
    margin-bottom: 6px;
    border-bottom: 2px solid transparent;
}
.nav-link:hover{
    
    border-bottom: 2px solid  #fff;
    width: fit-content;
}
.nav-link:focus{
    color: #1cc7c1 !important;
    border-bottom: 2px solid  #fff;
    width: fit-content;
}



@media  only screen and  (min-width :992px ){
    .logo {
        max-width: 150px;
    }
}