/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-7.col-sm-6.appoinment-wrap.text-white.py-5 {
    padding: 0 50px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  img.makeAppoinment-img {
    display: none;
  }

  .col-md-7.col-sm-6.appoinment-wrap.text-white.py-5 {
    width: 100%;
  }
  .blog-card-body {
    min-height: 280px;
  }
  h5.card-title.text-brand {
    height: 45px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .col-md-4.banner-content.offset-md-1.col-sm-6 {
    padding: 15px 0px 15px 35px;
  }
  img.img-fluid.header-main-img {
    padding-right: 30px;
  }
  main.row.d-flex.align-items-center.header-main-section {
    height: 480px;
  }
  svg.info-icon {
    font-size: 21px;
  }

  .info-title h6 {
    font-size: 17px;
  }

  .info-title small {
    display: none;
  }
  img.img-fluid.Featureed-img {
    padding: 50px;
  }
  .col-md-7.col-sm-6.col-12.appoinment-wrap.text-white.py-5 {
    width: 100%;
    padding-top: 25px;
  }
  .make-appoinment {
    height: 345px;
  }
  .react-calendar {
    margin: 0;
    padding: 0;
  }
  .col-md-5.col-sm-6.offset-md-1.calendar-wrap {
    padding-left: 35px;
  }

  .app-form {
    padding: 0;
  }
  .calen-wrap {
    display: contents;
  }
  .react-calendar {
    margin-left: 30px;
  }
  h2.pl-5.text-dasboard-title{margin-left: 50px;}
}
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  main.mb-4.appoinmemt-header.row.d-flex.align-items-center {
    height: 500px !important;
  }
  h2.pl-5.text-dasboard-title{display: none;}
  .dashboard-container{
    padding-top: 58px !important;
  }
  img.img-fluid.app-img.pe-5 {
    display: none;
  }

  .react-calendar {
    margin-left: 30px;
  }
  .mb-4.appoinmemt-header {
    position: relative;
  }
  .app-h1 {
    display: none;
  }
  .app-form {
    padding: 0;
    margin: 30px !important;
  }
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .container {
    width: 450px;
  }
  .col-md-4.banner-content.offset-md-1.col-sm-6 {
    padding: 30px 45px;
  }
  .react-calendar {
    margin-left: 30px;
  }

  img.img-fluid.header-main-img {
    display: none;
  }
  .header-container {
    height: 445px !important;
  }
  .row.info-row.w-75 {
    display: none;
  }
  .card-wrapper {
    padding: 40px;
  }
  img.img-fluid.Featureed-img {
    margin: 0 auto;
    height: 300px;
    display: block;
  }

  .align-self-center.ms-3.Featureed-content.col-md-6.col-sm-12 {
    padding: 50px;
  }

  .col-md-7.col-sm-6.col-12.appoinment-wrap.text-white.py-5 {
    padding: 30px 40px;
  }

  section.make-appoinment {
    height: 340px;
  }

  .section-header {
    font-size: 30px;
    padding-left: 30px;
  }

  .card.py-4.ms-3.shadow-sm.mb-2 {
    padding: 60px;
    margin: 60px;
  }

  .card.shadow-sm.mb-2 {
    padding: 60px;
    margin: 60px;
  }
  .col-md-3.single-footer-area {
    margin-left: 40px;
    margin-bottom: 30px;
  }
  .container.test-bg {
    background-size: 100px;
  }

  img.img-fluid.app-img.pe-5 {
    display: none;
  }
  .app-h1 {
    display: none;
  }
  h2.pl-5.text-dasboard-title{display: none;}


  .dashboard-container{
    padding-top: 58px !important;
  }

}

input.form-control {
  margin-bottom: 30px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
